<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Spring Boot SAML + Shibboleth Demo</title>

	<style>
		body {
			font-family: Arial, sans-serif;
			max-width: 850px;
			margin: 50px auto;
			line-height: 1.5;
		}

		a {
			display: inline-block;
			margin: 6px 12px 6px 0;
		}

		code {
			background: #f3f3f3;
			padding: 2px 5px;
		}
		h1 {
			background-color: red;
    		color: white;
			
		}
	</style>
</head>

<body>

	<h1>You have successfully entered: Spring Boot SAML Application 1</h1>

	<p>
		This application is a SAML 2.0 Service Provider.
		Keycloak is the Identity Provider.
	</p>

	<p>
		<a href="/private">
			Show authentication attributes
		</a>
	</p>

	<p>
		<a href="/user">
			Show SAML user attributes
		</a>
	</p>

	<p>
		<a href="/saml2/metadata/shibboleth">
			Service Provider (Spring Application) metadata: 
		</a>
		<code>
        http://localhost:9091/saml2/metadata/shibboleth
    	</code>
	</p>

	<p>
		Endpoint URL that initializes authentication request by Service Provider:
		<code>
        http://localhost:9091/saml2/authenticate/shibboleth
    	</code>
	</p>
	<p>
		<a href="http://localhost:8080/idp/shibboleth">
			Shibboleth IdP metadata:
		</a>
		<code>
        http://localhost:8080/idp/shibboleth
    	</code>
	</p>

</body>

</html>